
p.nfe_invalido{
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 14px;
	color: #C00;
	font-weight: bold;
	margin: 5px;
	margin-bottom: 15px;
}
p.nfe_valido{
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 14px;
	color: #00C;
	font-weight: bold;
	margin: 5px;
	margin-bottom: 15px;
}

.txa_nfe_erro{
	width:350px; 
	height:80px; 
	margin:3px;
	font-size: 11px;
	color: #333; 
	font-family: "Courier New", Courier, monospace;
}



/***************************************************************************************************************************/

div.nfe_consulta_sefaz{
	width: 300px; 
	height: 100px; 
	position:fixed; 
	right: 15px; 
	bottom:0; 
	background: #FFF url(../image/layout/nfe_consulta_loading.gif) left no-repeat;
	z-index:1500; 
	border:1px solid #15305B;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	display: none;
}

	div.nfe_consulta_sefaz div{
		width: 200px;
		height:50px;
		float: right;
		margin-top:25px;
	}
	
		div.nfe_consulta_sefaz div p{
			font-size: 14px;
			font-weight: bold;
			font-family: Arial, Helvetica, sans-serif;
			color: #15305B;
		}