
div.cheques{
	width:876px; 
	margin: 0 auto; 
	display:table;
	margin-top: 10px;
}

div.cheque_exibir{
	width: 420px;
	height: 150px;
	background: #FFF; 
	overflow:auto;
	float:left;
	margin-top: 10px;
	display:table;
	border: 1px solid #999;
}

div.cheque_exibir ul.ul_cheque_listar{
	width: auto;
	background: #FFF;
	padding: 0;
	background: #999;
	display: table;
}

div.cheque_exibir ul.ul_cheque_listar li{
	width: 80px;
	height: 18px;
	font-size: 12px;
	color: #FFF;
	float: left;
	display: inline-table;
	text-align: center;
	line-height: 16px;
	padding: 0;
	margin: 0;
}

/***********************************************************/
div.cheque_seta{
	width: 30px;
	height: auto;
	float: left;
	display:table;
	padding-top: 50px;
}

div.cheque_seta a.seta_left{
	width:30px;
	height: 30px;
	display:table;
	background: url(../image/layout/seta_left.jpg) 4px 4px no-repeat;
}

div.cheque_seta a.seta_right{
	width:30px;
	height: 30px;
	display:table;
	background: url(../image/layout/seta_right.jpg) 4px 4px no-repeat;
}

/***********************************************************/
div.cheque_exibir div.cheque_listar{
	width: 872px;
	height: 130px;
	position: relative;
	overflow: auto;
}

div.cheque_exibir div.cheque_listar table.table_cheque_listar{
	width: auto;
	border-collapse: collapse;
	display: table;
}

div.cheque_exibir div.cheque_listar table.table_cheque_listar tr{
	width: auto;
	height: 20px;
	background: #FFF;
	padding: 0;
	display: table;
	cursor: pointer;
}

div.cheque_exibir div.cheque_listar table.table_cheque_listar tr:hover, div.cheque_exibir div.cheque_listar table.table_cheque_listar tr.selected{
	background: #DDFFDD;
}

div.cheque_exibir div.cheque_listar table.table_cheque_listar tr td{
	color: #666;
	width: 80px;
	height: 18px;
	font-size: 12px;
	float: left;
	display: inline-table;
	text-align: center;
	line-height: 16px;
	padding: 0;
	margin: 0;
}

div.cheque_exibir div.cheque_listar table.table_cheque_listar tr td a.cheque_excluir{
	width: 15px;
	height: 15px;
	display: block;
	margin: 0 auto;
	background: url(../image/layout/bg_lixeira.gif) no-repeat;
}

