

div#dados_nfe{
	width: 480px;
	height: 541px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 3px;
	background: #FFF;
	border: 1px solid #999;
	float: left;
}

div#dados_nfe ul#pedido_nfe_abas li{
	margin-left: 0;
	margin-right: 0;
}
	div#dados_nfe ul.dados_nfe li{
		width: 230px;
		text-align: right;
		float: left;
		margin-bottom:0;
	}
		
		div#dados_nfe ul.dados_nfe li label{
			font-size:	11px;
			text-align: left;
		}
		
		div#dados_nfe ul.dados_nfe li input{
			width: 60px;
			height: 22px;
			font-size: 12px;
			text-align: right;
		}
		
		div#dados_nfe ul.dados_nfe li.dados label{
			float: left;
		}
		
		div#dados_nfe ul.dados_nfe li.dados input{
			float: right;
		}

/*---------------------------------------------------------------------------------------*/
/*----- Status de listagem NFe------*/

a.nfe_status_disabled{
	width: 20px;
	height: 20px;
	display: block;
	pointer-events: none;
	background: url(../image/layout/status_nfe_digitacao.gif) center no-repeat;
}

a.nfe_status_digitacao{
	 width: 20px;
	 height: 20px;
	 display: block;
	 background: url(../image/layout/status_nfe_digitacao.gif) center no-repeat;
}
a.nfe_status_processo{
	 width: 20px;
	 height: 20px;
	 display: block;
	 background: url(../image/layout/status_nfe_processo.gif) center no-repeat;
}
a.nfe_status_rejeitada{
	 width: 20px;
	 height: 20px;
	 display: block;
	 background: url(../image/layout/status_nfe_rejeitada.gif) center no-repeat;
}
a.nfe_status_autorizada{
	 width: 20px;
	 height: 20px;
	 display: block;
	 background: url(../image/layout/status_nfe_autorizada.gif) center no-repeat;
}
a.nfe_status_cancelada{
	 width: 20px;
	 height: 20px;
	 display: block;
	 background: url(../image/layout/status_nfe_cancelada.gif) center no-repeat;
}



/*---------------------------------------------------------------------------------------*/
/*----- transmitir NFe------*/
table.table_general td a.nfe_transmitir{
	width: 20px;
	height: 18px;
	display: block;
	background: url(../image/layout/export_file.gif) no-repeat bottom;
	margin: 0 auto;
}
table.table_general td a.nfe_transmitir_disabled{
	width: 20px;
	height: 18px;
	display: block;
	background: url(../image/layout/export_file.gif) no-repeat top;
	pointer-events: none;
	margin: 0 auto;
}

table.table_general td a.nfe_danfe{
	width: 20px;
	height: 18px;
	display: block;
	background: url(../image/layout/print_danfe.gif) no-repeat center;
	margin: 0 auto;
}

table.table_general td a.nfe_danfe_disabled{
	width: 20px;
	height: 18px;
	display: block;
	background: url(../image/layout/print_danfe.gif) no-repeat top;
	pointer-events: none;
	margin: 0 auto;
}

table.table_general td a.nfe_danfe_print{
	width: 20px;
	height: 18px;
	display: block;
	background: url(../image/layout/print_danfe.gif) no-repeat bottom;
	margin: 0 auto;
}