/* Estilos do calendario em javascript para colocar uma data em um campo de texto */
*{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

div.calendario {
	width: 154px;
	position: absolute;
	background: #fff;	
	display: none;
	border: 1px solid #999;
	z-index: 100001;
}

div.calendario a.fechar {
	display: block;
	position: absolute;
	right: -1px;
	top: -19px;
	padding: 2px 5px;
	text-decoration: none;
	background: #999;
	text-align:center;
	color: #fff;
	font: bold 12px Tahoma;
}

div.calendario a.bt_controle_mes {
	display: block;
	height: 15px;
	position: absolute;
	top: 0px;
	vertical-align: middle;
	text-decoration: none;
	color: #222;
	line-height: 15px;
	vertical-align: middle;	
}

div.calendario a.bt_voltar_mes { left: 2px; }
div.calendario a.bt_avancar_mes { right: 2px; }

div.calendario p.nome_mes {
	text-align: center;
	display: block;
	height: 18px;
	background: #efeff0;
	font-size: 12px;
	font-weight: bold;
	color: #6d6d6d;
	line-height:18px;
	vertical-align: middle;
	margin: 0;
}

div.calendario ul {
	margin:0;
	padding:0;
}

div.calendario ul li {
	display: block;
	float: left;
	width: 22px;
	height: 17px;
	text-align: center;
	font-size: 11px;
	line-height: 17px;
	vertical-align: middle;
}

div.calendario ul li a { font-weight: bold; color: #6d6d6d; text-decoration: none; }
div.calendario ul li a:hover { text-decoration: underline; }

div.calendario ul li.semana {
	background: #c0c7ca;
	font-weight: bold;		
	color: #fff;
}

div.calendario ul li.dia {
	color: #999;
}

div.calendario ul li.default {	
	background: #6c85c6; 
	font-weight: bold;
}

div.calendario ul li.default a { color: #fff; }

/* Calendario com dias marcados a partir de dados do banco de dados */
div#calendarios-container{
	width: 520px;
	margin: 0 auto;
}
	
	div#calendario-inicial{ float: left; }
	div#calendario-final{ float: right; }
	
		table.calendario_contas {
			clear: both;
			width: 250px;
			border-collapse: collapse;
			background: #fff;
			text-align: center;
			font: 16px Arial, Verdana, sans-serif;
			border: 1px solid #ccc;
			border-top: none;
		}
		
		table.calendario_contas caption {
			padding: 5px 0 5px 0;
			font-family: Tahoma, Arial, Verdana, sans-serif;
			font-size: 20px;
			background: #fff;
			color: #666;
			border: 1px solid #ccc;
			border-bottom: none;
			position: relative;
		}
			table.calendario_contas caption a{
				display: block;
				color: #666;
				padding: 0 3px;
				font-size: 26px;
				line-height: 28px;
			}
				table.calendario_contas caption a#cal_inicial-ant, table.calendario_contas caption a#cal_final-ant { float: left; }
				table.calendario_contas caption a#cal_inicial-pro, table.calendario_contas caption a#cal_final-pro { float: right; }
		
		table.calendario_contas thead tr th {
			background: #6c85c6;
			font-size: 18px;
			font-weight: bold;		
			color: #fff;
			padding: 5px;
			border: 1px solid #6c85c6;
		}
		
		table.calendario_contas tr td {
			padding: 3px;
			color: #333;
		}
		
		table.calendario_contas tr td.evento { background: #fffd9b; }
		
		table.calendario_contas tr td a {
			color: #333;
			display: block;
		}
			table.calendario_contas tr td a:hover { background: #6c85c6; color:#fff; }