

h2{
	width:960px;
	height: 30px;
	font: 18px Verdana, Geneva, sans-serif;
	color:#6C85C6;	
	text-align:left;
	border-bottom: 5px solid #CCC;
	margin: 10px;
	padding-left: 10px;
	text-transform: uppercase;
}


h3{
	width: auto;
	display: block;
	font: 15px Verdana, Geneva, sans-serif;
	font-weight: bold;
	color:#6C85C6;	
	text-align:left;
	border-bottom: 2px solid #6C85C6;
	margin: 10px;
}

h4{
	width: auto;
	display: block;
	font: 12px Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #FFF;
	float: left;
	background: #000;
	padding: 6px;
	margin-left: 10px;
}

/*--------------------------------------------*/
p.obs{
	width: 950px;
	background: #6c85c6;
	color: #FFF;
	font: 12px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align: left;
	padding: 5px;
	margin: 0 auto;
	margin-bottom: 5px;
}
/*--------------------------------------------*/
a img{ border: none; }
/*--------------------------------------------*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
/*--------------------------------------------*/
ul.menu_modo{
	width: 980px;
	height: 25px;
	text-align:left;
	border-bottom: 5px solid #6C85C6;
	padding-left: 10px;
}
	ul.menu_modo li{
		margin: 0;
		float: left;
	}
		ul.menu_modo li a{
			font: 14px Verdana, Geneva, sans-serif;
			color:#6C85C6;
			text-transform: uppercase;
			padding: 3px;
			margin-right: 3px;
			background: #FFF;
			margin-bottom: 0;
		}
		
		ul.menu_modo li a.ativo, ul.menu_modo li a.atual{
			color: #FFF;
			text-transform: uppercase;
			background-color: #6C85C6;
			border-top:1px solid #6C85C6;
		}
		
		ul.menu_modo li a:hover{
			border-top:1px solid #6C85C6;
			background-color: #6C85C6;
			color: #FFF;
		}

		ul.menu_modo li a.disabled{
			font: 14px Verdana, Geneva, sans-serif;
			color: #999;
			text-transform: uppercase;
			padding: 3px;
			margin-right: 3px;
			background: #E4E4E4;
			margin-bottom: 0;
			pointer-events:none;
		}
		
/*-- DIV VOLTAR -------------------------------------*/
div#voltar{
	width: 980px;
	margin: 0 auto;
	display: table;
}
	
	div#voltar p{
		float: right;
		margin-top: 5px;
	}
	
	div#voltar a{
		height: 20px;
		display: block;
		font: 11px Verdana, Geneva, sans-serif;
		font-weight:bold;
		color: #900;
		text-decoration: underline;
		padding-left: 20px;
		background: url(../image/layout/bg_voltar.gif) no-repeat;
}
/*--------------------------------------------------*/
/*-ALERTAS -*/

div.alert{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 6px;
	height: 40px;
	border: 3px solid #6C85C6;
}

	div.alert p.ok{
		margin: 0 auto;
		height: 40px;
		font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #6C85C6;
		font-weight: bold;
		background: url(../image/layout/bg_alert_ok.jpg) no-repeat;
		padding-top:10px;
		padding-left: 40px;
		text-align: left;
	}
	
	div.alert p.erro{
		margin: 0 auto;
		height: 40px;
		font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #CB6354;
		font-weight: bold;
		background: url(../image/layout/bg_alert_erro.jpg) no-repeat;
		padding-top:10px;
		padding-left: 40px;
	}
	
	div.alert p.alert{
		margin: 0 auto;
		height: 40px;
		font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #F90;
		font-weight: bold;
		background: url(../image/layout/bg_alert_alert.jpg) no-repeat;
		padding-top:10px;
		padding-left: 40px;
	}
	
	div.alert p a.small{
		font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #06F;
		text-decoration: underline;
	}
	
	input.btn_gravar, button.btn_gravar, a.btn_gravar{
		width: 100px;
		float: left;
		margin-top: 30px;
		height: 25px;
		margin-left: 15px;
		cursor: pointer;
		border: 0px;
		background: url(../image/layout/bg_btn_general.jpg) top no-repeat;
		font: 12px "Trebuchet MS",Geneva, Tahoma, Helvetica, sans-serif;
		color: #FFF;
	}
	
	small{
		font: 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #06F;
		right: 0;
		display: table;
	}

/*---------------------------------*/


div.alert_confirm_maior{
	width: 450px;
	height: 250px;
	display: table;
	background:url(../image/layout/bg_div_alert_maior.jpg) no-repeat;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	padding-top: 10px;
}
	
	div.alert_confirm{
		width: 360px;
		height:160px;
		display: table;
		background:url(../image/layout/bg_div_alert.jpg) no-repeat;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
	}
		
		div.alert_confirm p, div.alert_confirm_maior p{
			font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
			font-weight: bold;
			margin: 0 auto;
			color: #666;
			margin-top:10px;
			margin-bottom: 10px;
		}
		
		div.alert_confirm li, div.alert_confirm_maior li{
			width: 100px;
			height: 25px;
			text-align: center;
			display: inline-table;
		}
		
		div.alert_confirm li:hover, div.alert_confirm_maior li:hover{
		}
		
		div.alert_confirm a, div.alert_confirm_maior a{
			width: 100px;
			height: 20px;
			display: block;
			padding-top: 5px;
			text-align: center;
			color: #FFF;
			font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
			background: url(../image/layout/bg_btn_general.jpg) no-repeat top;
		}
		
		div.alert_confirm a:hover, div.alert_confirm_maior a:hover{
			background: url(../image/layout/bg_btn_general.jpg) no-repeat bottom;
			color: #000;
		}
/***** estilos janela modal *****/
div.modal-body{
	position: absolute;
	top: 0;
	left: 0;
}
		
	div.modal-body .janela-modal{
		background: #fff;
		-moz-border-radius: 5px;
		border: 1px solid #ccc;
	}
		
		div.modal-body .janela-modal .modal-cabecalho .modal-fechar{
			display: block;
			width: 30px;
			height: 30px;
			background: url(../image/layout/bg_link_fechar_modal.png) no-repeat 0 0;
			text-indent: -90000px;
			outline: none;
			position: absolute;
			top: -15px;
			right: -15px;
		}

/*---------------------------------------------------*/

a.btn_cheque{
	width: 115px;
	height: 25px;
	margin-top: 20px;
	margin-left: 60px;
	padding-left: 15px;
	font-size: 12px;
	color: #06C;
	text-align: center;
	line-height: 25px;
	background: url(../image/layout/btn_cheque.jpg) top no-repeat;
	display: block;
	float: left;
}

a.btn_cheque:hover{
	background: url(../image/layout/btn_cheque.jpg) bottom;
}

a.btn_cheque_exibir{
	width: 25px;
	height: 25px;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 10px;
	text-align: center;
	background: url(../image/layout/btn_cheque_exibir.gif) top no-repeat;
	display: block;
	float: left;
}

a.btn_cheque_exibir:hover{
	background: url(../image/layout/btn_cheque_exibir.gif) bottom;
}

/*---------------------------------------------------*/

ul.header_bar{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 10px;
	display: table;
}
	ul.header_bar li{
		width:45px;
		margin-left: 5px;
		display: inline-table;
		float: right;
	}
		ul.header_bar li a.print{
			width: 45px;
			height: 25px;
			background: url(../image/layout/btn_print.jpg) top no-repeat;
			display: block;
		}
		
		ul.header_bar li a.print_np{
			width: 45px;
			height: 25px;
			background: url(../image/layout/btn_print_np.jpg) top no-repeat;
			display: block;
		}
		
		ul.header_bar li a.print_os{
			width: 45px;
			height: 25px;
			background: url(../image/layout/btn_print_os.jpg) top no-repeat;
			display: block;
		}
		
		ul.header_bar li a.print_carne{
			width: 45px;
			height: 25px;
			background: url(../image/layout/btn_print_carne.jpg) top no-repeat;
			display: block;
		}
		
		ul.header_bar li a.btn_vendas_origem{
			width: 45px;
			height: 25px;
			background: url(../image/layout/btn_vendas_origem.jpg) top no-repeat;
			display: block;
		}
	

/*-- div de legenda -------------------------------------------------*/

div#mouse{
	padding-left: 5px;
	padding-right: 5px;
	background: #FFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position:absolute;
	z-index:10;
	display:none;
	border: 1px solid #999;
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #039;
}

/*---------------------------------------------------*/
div.dados_listar{
	width: 480px;
	height: 170px;
	border-bottom: 1px solid #999;
	display:table;
}

	div.dados_listar ul.dados_cabecalho{
		background: #999;
		height: 18px;
	}
	
		div.dados_listar ul.dados_cabecalho li{
			height: 18px;
			border-right: 1px solid;
			text-align:center;
			color: #FFF;
			margin: 0;
		}
		
	div.dados_listar div.dados_listar_dados{
		width: 480px;
		height: 150px;
		overflow: auto;
		float: left;
	}
		div.dados_listar div.dados_listar_dados ul{
			float: left;
		}
			
			div.dados_listar div.dados_listar_dados ul li{
				height: auto;
				border-right: 1px solid #999;
				border-bottom: 1px solid #999;
				text-align:center;
				color: #666;
				font-weight: normal;
				margin: 0;
				float: left;
			}

/*---------------------------------------------------*/
/* Links comuns */
a.link:link, a.link:visited{color: #06c; text-decoration: underline;}
a.link:hover{text-decoration: none;}

span.bg_usuario_perfil{
	width: 20px;
	height: 20px;
	display:block;
	background: url(../image/layout/bg_usuario_icon.png) no-repeat;
}

#especificacoes {margin-top:8px; background:#BBB; padding:10px;}
/*---------------------------------------------------*/

