div#comandas{
	width: 610px;
	height: 400px;
	margin: 5px;
	float:left;
	overflow: auto;
}

div#comandas li{
	float:left;
	display:inline-table;
	width:39px;
	height:39px;
}

div#comandas ul li a{
	display:inline-table;
	width:35px;
	height:35px;
	background:url(../image/layout/btn_comanda.gif) no-repeat left top;
	margin:2px;
	line-height:35px;
	font-size: 12px;
	color: #FFF;
	
}

div#comandas ul li a.aberta{
	background:url(../image/layout/btn_comanda.gif) no-repeat right top;
}

div#comandas ul li a.ativa{
	background:url(../image/layout/btn_comanda.gif) no-repeat left bottom;
}

div#comandas ul li a:hover{
	font-size: 18px;
}

div.pedido_rapido_pagamento ul li a.btn_comanda_gravar, .btn_comanda_gravar{
	border: none;
	width: 96px;
	height: 50px;
	line-height: 50px;
	background: url(../image/layout/bg_btn_comanda.jpg) top;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	display:block;
	color: #333;
	margin-top:2px;
}

div.pedido_rapido_pagamento ul li a.btn_comanda_gravar:hover, .btn_comanda_gravar:hover{
	background: url(../image/layout/bg_btn_comanda.jpg) bottom;
}

div#painel{
	width: 340px;
	height: 400px;
	margin: 5px;
	float:left;
}

div#painel form{
	width: 100px;
	margin:0 auto;
}
