
div[id|=alerta_bina]{
	width: 200px;
	height: 30px;
	position: fixed;
	bottom: 0;
	z-index: 10000;
	-moz-border-radius: 5px 5px 0px 0px;
	border: 1px solid #CCC;
	border-bottom: 0px;
}

div[id|=alerta_bina] a{
	width: 170px;
	float: left;
	display: block;
	padding-top: 6px;
	font: 15px Arial, Helvetica, sans-serif;
	color: #666;
	font-weight: bold;
}

.ativo{
	background: url(../image/layout/bg_alerta_bina.jpg) top left;
}

.ativo2{
	background: url(../image/layout/bg_alerta_bina.jpg) bottom left; 
}

.inativo{
	background: url(../image/layout/bg_alerta_bina.jpg) top right;
}

div[id|=alerta_bina] a.hide{
	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
}
