form#frm-filtro{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 10px;
}

form#frm-filtro fieldset{
	background: #EBF3F5;
	border: 1px solid #ccc;
	padding-bottom: 6px;
	padding-right: 6px;
}

form#frm-filtro fieldset legend{
	height: 30px;
	color: #6C85C6;
	font: bold 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left: 35px;
	background: url(../image/layout/bg_search.gif) no-repeat;
	text-align: left;
}


form#frm-filtro fieldset legend.none{
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #999;
	padding-left:0;
	margin-left: 5px;
	margin-bottom:-10px;
	background:none;
	text-align: left;
}

form#frm-filtro ul{
	width: 950px;
	display: table;
	padding: 0;
}

form#frm-filtro ul li{
	display: inline;
	float: left;
	margin: 6px;
}


form#frm-filtro ul li.large_height{
	height: 40px;
	padding-top: 0;
}

form#frm-filtro ul li label{
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #666;
}

form#frm-filtro ul li input{
	padding-left: 3px;
	color: #333;
	height:18px;
	margin: 0;
	border: 	 1px solid #CCC;
	border-top:  2px solid #999;
	border-left: 2px solid #999;
}

form#frm-filtro ul li input[type=checkbox]{
	height: 15px;
}

form#frm-filtro ul li select{
	width: 180px;
	color: #333;
	padding-left: 3px;
	height: 21px;
	border: 	 1px solid #CCC;
	border-top:  2px solid #999;
	border-left: 2px solid #999;

}


form#frm-filtro button{
	float: right;
	width: 100px;
	display: inline-table;
	height: 25px;
	margin-top: 6px;
	margin-left: 15px;
	cursor: pointer;
	border: 0px;
	background: url(../image/layout/bg_btn_general.jpg) top no-repeat;
	font: 12px "Trebuchet MS",Geneva, Tahoma, Helvetica, sans-serif;
	color: #FFF;
}

form#frm-filtro button:hover{
	background: url(../image/layout/bg_btn_general.jpg) bottom no-repeat;
	color: #000;
}

/*---------------------------------------*/
/* icone calendario de eventos */
a.calendario-modal, a.exibir-calendario, a.exibir-calendario-data-atual{
	display: block;
	width: 20px;
	height: 20px;
	float: right;
	background: url(../image/layout/bg_contas_calendario.gif) no-repeat 0 3px;
	outline: none;
	margin: 0 0 0 5px;
}

/* hack para motores webkit (chrome e safari) */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	li input.calendario-mask:first-child, li input#txt_vencimento2{
		float: left;
		position: relative;
		top: 1px;
	}
}