*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: #000;
}

div#impressao_cabecalho{
	width: 760px;
	display: table;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 10px;
}

ul#via{
	width:450px;
	float:left;
}

ul#via li{
	display: inline-table;
	margin-right: 15px;
	margin-right: 5px;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid;
}
ul#via li a{
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

ul#bts{
	width:300px;
	display: inline-table;
	text-align: center;
	float:right;
}

ul#bts li{
	display: inline-table;
	margin-right: 15px;
}

ul#bts li a{
	width: 100px;
	height: 25px;
	display: inline-table;
	background: url(../../image/layout/bg_btn_general.jpg) top no-repeat;
}

ul#bts li a span{
	width: 100px;
	display: inline-table;
	padding-top: 3px;
	color: #FFF;
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
}

ul#bts li a:hover{
	background: url(../../image/layout/bg_btn_general.jpg) bottom no-repeat;
}

/*----------------------------------------------------------------------------*/


div.pedido_imprimir_001{
	width: 10cm;
	height: 13.5cm;
	display:table;
	margin-top: 0.5cm;
	float: left;
	margin-left: 0;
}



div.pedido_imprimir_001 ul li{
	display: table;
	font: 12px "Courier New", Courier, monospace;
	text-transform: uppercase;
	margin: 0.2cm 0px 0.3cm 0cm;

}


div.pedido_imprimir_001 ul.dados_cliente{
	margin-top: 0.4cm;
	width: 5.8cm;
	float: left;
	margin-bottom: 0.3cm;
	position: relative;
}

div.pedido_imprimir_001 ul.dados_cliente li{
	padding-left: 0.8cm;
	width: 5cm;
	height: 0.3cm;
	position: absolute;
}


div.pedido_imprimir_001 ul.dados_pedido{
	width: 2cm;
	margin-left: 0;
	float:left;
}

div.pedido_imprimir_001 ul.dados_pedido li{
	width: 2cm;
	display: table;
	text-align: right;
}


div.pedido_imprimir_001 ul.dados_gerais{
	width: 10.1cm;
	float: left;
	margin-bottom: 0.4cm;
}

div.pedido_imprimir_001 ul.dados_gerais li{
	display: inline-block;
	float:left;
	text-align: left;
	margin-bottom: 0.3cm;
	
}


