*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: #000;
}

div#impressao_cabecalho{
	width: 760px;
	display: table;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 10px;
}

ul#via{
	width:450px;
	float:left;
}

ul#via li{
	display: inline-table;
	margin-right: 15px;
	margin-right: 5px;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid;
}
ul#via li a{
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

ul#bts{
	width:300px;
	display: inline-table;
	text-align: center;
	float:right;
}

ul#bts li{
	display: inline-table;
	margin-right: 15px;
}

ul#bts li a{
	width: 100px;
	height: 25px;
	display: inline-table;
	background: url(../../image/layout/bg_btn_general.jpg) top no-repeat;
}

ul#bts li a span{
	width: 100px;
	display: inline-table;
	padding-top: 3px;
	color: #FFF;
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
}

ul#bts li a:hover{
	background: url(../../image/layout/bg_btn_general.jpg) bottom no-repeat;
}


/*---------------------------------------------------------------------*/
table#table_imprimir{
	width: 7.5cm;
	border-collapse: collapse;
	display:table;
	margin: 0;
	margin-top: 10px;
}


table#table_imprimir tr{
	width: 7.5cm;
	display:table;
}

table#table_imprimir td{
	font: 12px "Courier New", Courier, monospace;
	height: 0.4cm;
	text-align: left;
	padding-right: 0.2cm;
	padding-left: 0.2cm;
	display: inline-table;
	float: left;
	margin-left: 0.2cm;
}
table#table_imprimir td.cabecalho{
	width: 6.5cm;
	margin: 0 auto;
	text-align:center;
	display:table;
}

table#table_imprimir td.valor{
	width: 1.7cm;
	text-align:right;
}

/*------------------------------------*/

table#table_imprimir td.texto{
	width: 5.3cm;
	text-align: right;
}
