*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: #000;
}

div#impressao_cabecalho{
	width: 760px;
	display: table;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 10px;
}

ul#bts{
	width:300px;
	display: inline-table;
	text-align: center;
	float:right;
}

ul#bts li{
	display: inline-table;
	margin-right: 15px;
}

ul#bts li a{
	width: 100px;
	height: 25px;
	display: inline-table;
	background: url(../../image/layout/bg_btn_general.jpg) top no-repeat;
}

ul#bts li a span{
	width: 100px;
	display: inline-table;
	padding-top: 3px;
	color: #FFF;
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
}

ul#bts li a:hover{
	background: url(../../image/layout/bg_btn_general.jpg) bottom no-repeat;
}
/*---------------------------------------------------------------------*/

div.print{
	width: 20cm;
	height: 15.4cm;
	margin: 0 auto;
	position: relative;
	margin-bottom: 0.2cm;
	display: block;
	border: 1px solid #FFF;
}

div.print_item{
	width: 20cm;
	float: left;
	display: table;
}

div.bottom{
	width: 20cm;
	height: 3.3cm;
	display: table;
	bottom: 0;
	position:absolute;
}

/*---------------------------------------------------------------------*/
div.print table.table_imprimir{
	width: 20cm;
	border-collapse: collapse;
	margin-top: 4px;
	float: left;
}

div.print table.table_imprimir tr{
	width: 20cm;
	display: inline-table;
	float: left;
}

div.print table.table_imprimir tr.cabecalho{
	width: 9.6cm;
}

div.print table.table_imprimir tr.cabecalho td{
	width: 9.6cm;
}


/*-------------------------------------*/

div.print table.table_imprimir td, table.parcela td{
	font: 14px "Courier New", Courier, monospace;
	height: 0.4cm;
	text-align: left;
	padding-right: 0.2cm;
	padding-left: 0.2cm;
	display:table;
	float: left;
	margin-left: 0.2cm;
}

div.print table.table_imprimir td.cabecalho{
	width: 20cm;
	margin: 0 auto;
	text-align:center;
	display:table;
}

div.print table.table_imprimir td.valor{
	width: 1.8cm;
	text-align:right;
}

/*------------------------------------*/

div.print table.table_imprimir td.texto{
	width: 2.5cm;
	text-align: right;
	margin-left: 0.3cm;
}
/*--------------------------------*/

div.print table.table_imprimir tr.parcela{
	width: 4.9cm;
	display: inline-table;
	float:left;
}
