h1{
	font: 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0 auto;
	display: block;
	border-bottom: 2px solid;
	padding: 5px;
	padding-left: 30px;
}

a.print{
	width: 100px;
	height: 20px;
	display: table;
	padding-top: 5px;
	text-decoration: none;
	color: #FFF;
	font: 12px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background: url(../../image/layout/bg_btn_general.jpg) no-repeat;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}

div.recibo_print{
	width: 13.6cm;
	height: 5cm;
	display: block;
	border: 1px solid #999;
	margin-left: 2px;
	margin-bottom: 5px;
}

div.recibo_print h1{
	font: 14px Arial, Helvetica, sans-serif;
	border-bottom: 2px solid;
	display:block;
	margin: 6px 12px 0px 12px;
	
}

div.recibo_print p{
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	display: inline-table;
	font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

div.recibo_print p.data{
	float: right;
	margin-right: 10px;
}

div.dados{
	width: 500px;
	margin: 0 auto;
	border: 1px solid;
}
	
	div.dados ul.cabecalho{
		margin: 0 auto;
		padding: 0;
		padding-left: 5px;
	}
		
		div.dados ul.cabecalho li{
			list-style: none;
			width: 90px;
			font: 12px Arial, Helvetica, sans-serif;
			font-weight: bold;
			float: left;
			margin: 0;
		}
	
	div.dados ul.dados{
		border-bottom: 1px solid;
		padding: 0;
		padding-left: 6px;
	}
		
		div.dados ul.dados li{
			list-style: none;
			width: 90px;
			font: 12px Arial, Helvetica, sans-serif;
			float: left;
			margin: 0;
		}

/*------------------------*/

div.valor{
	float: right;
	margin-right: 6px;
	padding: 0;
	
}

div.valor p{
	font: 12px Arial, Helvetica, sans-serif;
	margin: 0;
}

div.valor p span{
	width: 120px;
	margin-left: 10px;
	background: #E5E5E5;
	font: 12px Arial, Helvetica, sans-serif;
	display:inline-table;
	text-align: right;
	padding-right: 3px;
	padding-top: 3px;
	border-bottom: 2px solid;
}


